{% load static %}
<div class="container">
    <div class="section-title">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2>Our <span class="color-defult"> Clients</span> Say</h2>
                <div class="line-border-center bg-defult"></div>
                <p>Repellendus error placeat numquam doloribus perferendis consequatur maxime molestiae soluta Corporis quidem quaerat accusantium omnis repudiandae nulla recusandae</p>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="testimonial-carousel-one">
                    <div class="item">
                        <div class="testimonial-item text-center">
                            <div class="testimonial-author">
                                <div class="author-img">
                                    <img class="img-responsive" src="{% static 'admin/img/testimonial/1.jpg' %}" alt="" />
                                </div>
                                <h4>xyz</h4>
                            </div>
                            <p>consectetur adipisicing elit. Nemo ex doloremque maiores quas, cumque commodi eaque molestiae in ratione nam obcaecati nihil provident illum eius sed ullam amet, expedita molestias iusto.</p> 
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item text-center">
                            <div class="testimonial-author">
                                <div class="author-img">
                                    <img class="img-responsive" src="{% static 'admin/img/testimonial/2.png' %}" alt="" />
                                </div>
                                <h4>xyz</h4>
                            </div>
                            <p>consectetur adipisicing elit. Nemo ex doloremque maiores quas, cumque commodi eaque molestiae in ratione nam obcaecati nihil provident illum eius sed ullam amet, expedita molestias iusto.</p> 
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-item text-center">
                            <div class="testimonial-author">
                                <div class="author-img">
                                    <img class="img-responsive" src="{% static 'admin/img/testimonial/8.jpg' %}" alt="" />
                                </div>
                                <h4>xyz</h4>
                            </div>
                            <p>consectetur adipisicing elit. Nemo ex doloremque maiores quas, cumque commodi eaque molestiae in ratione nam obcaecati nihil provident illum eius sed ullam amet, expedita molestias iusto.</p> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>