{% load static %}
<div class="container">
    <div class="section-title">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="text-center">
                    <h2>OUR <span class="color-defult"> DEPARTMENTS</span></h2>
                    <div class="line-border-center bg-defult"></div>
                    <p>Consequatur alias incidunt cumque officiis, quas eius quaerat ut itaque laudantium corporis nobis ipsum, voluptates at, adipisci fugiat hic voluptate consequuntur porro.</p>
                </div>
            </div>
        </div> 
    </div>
    
    <div class="section-content">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="practice-item-1">
                    <div class="practice-img">
                        <a href="#">
                            <img src="{% static 'admin/img/services/4.jpg' %}" alt="">
                        </a>
                    </div>
                    <div class="practice-content">
                        <h4><a href="#">Medical evacuation</a></h4>
                        <p>Personal Health Record makes it easy to join and stay on a wellness program - lose weight or manage a chronic condition easily.</p>
                        <a href="#" class="btn-theme hvr-bounce-to-top"> Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="practice-item-1">
                    <div class="practice-img">
                        <a href="#">
                            <img src="{% static 'admin/img/services/5.jpg' %}" alt="">
                            
                        </a>
                    </div>
                    <div class="practice-content">
                        <h4><a href="#"> Physical examination</a></h4>
                        <p>Personal Health Record makes it easy to join and stay on a wellness program - lose weight or manage a chronic condition easily.</p>
                        <a href="#" class="btn-theme hvr-bounce-to-top"> Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="practice-item-1">
                    <div class="practice-img">
                        <a href="#">
                            <img src="{% static 'admin/img/services/6.jpg' %}" alt="">
                            
                        </a>
                    </div>
                    <div class="practice-content">
                        <h4><a href="#"> Ultrasound Endoscopy</a></h4>
                        <p>Personal Health Record makes it easy to join and stay on a wellness program - lose weight or manage a chronic condition easily.</p>
                        <a href="#" class="btn-theme hvr-bounce-to-top"> Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="practice-item-1">
                    <div class="practice-img">
                        <a href="#">
                            <img src="{% static 'admin/img/services/1.jpg' %}" alt="">
                            
                        </a>
                    </div>
                    <div class="practice-content">
                        <h4><a href="#"> Radiology / X-Ray</a></h4>
                        <p>Personal Health Record makes it easy to join and stay on a wellness program - lose weight or manage a chronic condition easily.</p>
                        <a href="#" class="btn-theme hvr-bounce-to-top"> Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="practice-item-1">
                    <div class="practice-img">
                        <a href="#">
                            <img src="{% static 'admin/img/services/8.jpg' %}" alt="">
                            
                        </a>
                    </div>
                    <div class="practice-content">
                        <h4><a href="#"> CRITICAL CARE</a></h4>
                        <p>Personal Health Record makes it easy to join and stay on a wellness program - lose weight or manage a chronic condition easily.</p>
                        <a href="#" class="btn-theme hvr-bounce-to-top"> Read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="practice-item-1">
                    <div class="practice-img">
                        <a href="#">
                            <img src="{% static 'admin/img/services/3.jpg' %}" alt="">
                            
                        </a>
                    </div>
                    <div class="practice-content">
                        <h4><a href="#"> Safe & Secure</a></h4>
                        <p>Personal Health Record makes it easy to join and stay on a wellness program - lose weight or manage a chronic condition easily.</p>
                        <a href="#" class="btn-theme hvr-bounce-to-top"> Read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>