{% load static %}
<div class="container">
    <div class="section-title">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h2><span class="color-defult">Experience</span> Doctor</h2>
                <div class="line-border-center bg-defult"></div>
                <p>Repellendus error placeat numquam doloribus perferendis consequatur maxime molestiae soluta Corporis quidem quaerat accusantium omnis repudiandae nulla recusandae</p>
            </div>
        </div>
    </div>
    <div class="section-content">
        <div class="row">
            <div class="team-carousel">
                <div class="item">
                    <div class="team-item-2">
                        <img src="{% static 'admin/img/team/1.png' %}" alt="">
                        <div class="team-content">
                            <h4><a href="#">Dr. Mokles Beller</a></h4>
                            <h6>Cardiologists</h6>
                            <div class="team-content-icon">
                                <i class="flaticon-heart"></i>
                            </div>
                        </div>
                        <div class="timetable">
                            <div class="item">
                                <div class="label">Monday-Friday</div>
                                <div class="value">08:00 - 17:00</div>
                            </div>
                            <div class="item">
                                <div class="label">Saturday</div>
                                <div class="value">10:00 - 16:00</div>
                            </div>
                            <div class="item">
                                <div class="label">Sunday</div>
                                <div class="value">12:00 - 14:00</div>
                            </div>
                            <a href="#" class="btn-theme text-center btn-block"> View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-item-2">
                        <img src="{% static 'admin/img/team/2.png' %}" alt="">
                        <div class="team-content">
                            <h4><a href="#">Dr. George Beller</a></h4>
                            <h6>Cardiologists</h6>
                            <div class="team-content-icon">
                                <i class="flaticon-heart"></i>
                            </div>
                        </div>
                        <div class="timetable">
                            <div class="item">
                                <div class="label">Monday-Friday</div>
                                <div class="value">08:00 - 17:00</div>
                            </div>
                            <div class="item">
                                <div class="label">Saturday</div>
                                <div class="value">10:00 - 16:00</div>
                            </div>
                            <div class="item">
                                <div class="label">Sunday</div>
                                <div class="value">12:00 - 14:00</div>
                            </div>
                            <a href="#" class="btn-theme text-center btn-block"> View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-item-2">
                        <img src="{% static 'admin/img/team/3.png' %}" alt="">
                        <div class="team-content">
                            <h4><a href="#">Dr. George Beller</a></h4>
                            <h6>Cardiologists</h6>
                            <div class="team-content-icon">
                                <i class="flaticon-heart"></i>
                            </div>
                        </div>
                        <div class="timetable">
                            <div class="item">
                                <div class="label">Monday-Friday</div>
                                <div class="value">08:00 - 17:00</div>
                            </div>
                            <div class="item">
                                <div class="label">Saturday</div>
                                <div class="value">10:00 - 16:00</div>
                            </div>
                            <div class="item">
                                <div class="label">Sunday</div>
                                <div class="value">12:00 - 14:00</div>
                            </div>
                            <a href="#" class="btn-theme text-center btn-block"> View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-item-2">
                        <img src="{% static 'admin/img/team/4.png' %}" alt="">
                        <div class="team-contact">
                            <ul>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h4><a href="#">Dr. George Beller</a></h4>
                            <h6>Cardiologists</h6>
                            <div class="team-content-icon">
                                <i class="flaticon-heart"></i>
                            </div>
                        </div>
                        <div class="timetable">
                            <div class="item">
                                <div class="label">Monday-Friday</div>
                                <div class="value">08:00 - 17:00</div>
                            </div>
                            <div class="item">
                                <div class="label">Saturday</div>
                                <div class="value">10:00 - 16:00</div>
                            </div>
                            <div class="item">
                                <div class="label">Sunday</div>
                                <div class="value">12:00 - 14:00</div>
                            </div>
                            <a href="#" class="btn-theme text-center btn-block"> View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-item-2">
                        <img src="{% static 'admin/img/team/5.png' %}" alt="">
                        <div class="team-contact">
                            <ul>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h4><a href="#">Dr. George Beller</a></h4>
                            <h6>Cardiologists</h6>
                            <div class="team-content-icon">
                                <i class="flaticon-heart"></i>
                            </div>
                        </div>
                        <div class="timetable">
                            <div class="item">
                                <div class="label">Monday-Friday</div>
                                <div class="value">08:00 - 17:00</div>
                            </div>
                            <div class="item">
                                <div class="label">Saturday</div>
                                <div class="value">10:00 - 16:00</div>
                            </div>
                            <div class="item">
                                <div class="label">Sunday</div>
                                <div class="value">12:00 - 14:00</div>
                            </div>
                            <a href="#" class="btn-theme text-center btn-block"> View Profile</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="team-item-2">
                        <img src="{% static 'admin/img/team/3.png' %}" alt="">
                        <div class="team-contact">
                            <ul>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-behance"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-content">
                            <h4><a href="#">Dr. George Beller</a></h4>
                            <h6>Cardiologists</h6>
                            <div class="team-content-icon">
                                <i class="flaticon-heart"></i>
                            </div>
                        </div>
                        <div class="timetable">
                            <div class="item">
                                <div class="label">Monday-Friday</div>
                                <div class="value">08:00 - 17:00</div>
                            </div>
                            <div class="item">
                                <div class="label">Saturday</div>
                                <div class="value">10:00 - 16:00</div>
                            </div>
                            <div class="item">
                                <div class="label">Sunday</div>
                                <div class="value">12:00 - 14:00</div>
                            </div>
                            <a href="#" class="btn-theme text-center btn-block"> View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>