{% load static %}
<div class="container">
    <div class="section-content">
        <div class="row">
            <div class="col-md-7">
                <h2>Why chose us</h2>
                <h3 class="color-defult">Get a world class Health service now</h3>
                <p class="lead">Medicative Hospital is here for you. Call <span class="ff-p">+00 999 3030</span></p>
                <p><span class="fw-b">Consectetur</span> adipisicing elit. Ratione ut culpa, illo, odit tempore dignissimos nisi consequatur voluptatem, eveniet quaerat officiis sed ad et fugiat praesentium nesciunt sunt ipsa quam magnam.</p>
                <div class="row margin-top-20">
                    <div class="col-md-6">
                        <img class="margin-top-10" src="{% static 'admin/img/services/s1.jpg' %}" alt="">
                    </div>
                    <div class="col-md-6">
                        <p>Medicative <span class="color-defult fw-b">adipisicing elit</span>. Animi eveniet ipsam, error dolorum impedit debitis, officiis sint saepe similique quasi dolor, ut. Ipsum quaerat saepe, sapiente doloribus ab laudantium ipsam!</p>
                    </div>
                </div>
                <div class="clearfix margin-top-20 margin-right-10"> 
                    <div class="skills" data-percent="85%">
                        <div class="title-bar">
                          <h5>Cardiology</h5>
                        </div>
                        <span>85%</span>
                        <div class="skillbar-1"></div>  
                    </div>
                    <div class="skills" data-percent="60%">
                        <div class="title-bar">
                          <h5>General Practice</h5>
                        </div>
                        <span>60%</span>
                        <div class="skillbar-2"></div>  
                    </div>
                    <div class="skills" data-percent="89%">
                        <div class="title-bar">
                          <h5>General surgery</h5>
                        </div>
                        <span>89%</span>
                        <div class="skillbar-3"></div>  
                    </div>
                    <div class="skills" data-percent="60%">
                        <div class="title-bar">
                          <h5>Pharmacology</h5>
                        </div>
                        <span>60%</span>
                        <div class="skillbar-4"></div>  
                    </div>
                </div>

            </div>
            <div class="col-md-5">
                <div>
                   <img alt="" src="{% static 'admin/img/services/w1.jpg' %}"> 
                </div>
            </div>
        </div>
    </div>
</div>